{% extends "base.html" %}

{% block content %}

<style>
    .chart-container{
        min-width: 370px!important;

    }

    #flotPie1 table {
        top: 20px!important;
        right: 35px!important;
    }

</style>

<!-- Orders -->
<div class="orders">
    <div class="row">
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title">Products Categories Manufactured </h4>
                </div>
                <div class="card-body--">
                    <div class="table-stats order-table ov-h">
                        <table class="table ">
                            <thead>
                                <tr>
                                    {% for type in type_col %}
                                        {% if type != 'id'%}
                                            <th> {{type}}</th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for prod_cat in prod_catogeries%}
                                    <tr>
                                        <td class="serial">{{prod_cat.sl_no}}</td>
                                        <td><span>{{prod_cat.prod_id}}</span></td>
                                        <td> <span class="product">{{prod_cat.product_type}}</span> </td>
                                        <td><span> {{prod_cat.category}} </span></td>
                                        <td>
                                            <span class="badge badge-{{prod_cat.status}}">
                                                {% if prod_cat.status == 'pending' %}
                                                    In Progress
                                                {% else %}
                                                    {{prod_cat.status}}
                                                {% endif %}
                                            </span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div> <!-- /.table-stats -->
                </div>
            </div> <!-- /.card -->
        </div>  <!-- /.col-lg-8 -->

        <div class="col-xl-3">
            <div class="row">
                <div class="col-lg-14 col-xl-14">
                    <div class="card br-0">
                        <div class="card-body">
                            <div id="piechart" style="width: 700px; height: 350px;"></div>

                        </div>
                    </div><!-- /.card -->
                </div>

            </div>
        </div> <!-- /.col-md-4 -->

    </div>

</div>

<div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">IOT Products Info</strong>
                        </div>
                        <div class="card-body">
                            <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        {% for product in product_col %}
                                            <th>{{product}}</th>
                                                {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product_info in product_data %}
                                    <tr>
                                        <td>{{product_info.sl_no}} </td>
                                        <td>{{product_info.id}} </td>
                                        <td>{{product_info.name_of_product}} </td>
                                        <td>{{product_info.type_of_product}} </td>
                                        <td>{{product_info.firmware_version}} </td>
                                        <td>{{product_info.os_supported}} </td>
                                        <td>{{product_info.supported_protocols}} </td>
                                        <td>{{product_info.max_firmware_support}} </td>
                                        <td>{{product_info.env_support}} </td>
                                        <td>{{product_info.power_capability}} </td>
                                        <td>{{product_info.pricing}} </td>
                                        <td>{{product_info.configurable}} </td>
                                        <td>{{product_info.desc}} </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .animated -->
    </div><!-- .content -->

    <!--  Chart js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.bundle.min.js"></script>

    <!--Chartist Chart-->
    <script src="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartist-plugin-legend@0.6.2/chartist-plugin-legend.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flot-pie@1.0.0/src/jquery.flot.pie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flot-spline@0.0.1/js/jquery.flot.spline.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/simpleweather@3.1.0/jquery.simpleWeather.min.js"></script>
    <script src="assets/js/init/weather-init.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/moment@2.22.2/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.js"></script>
    <script src="assets/js/init/fullcalendar-init.js"></script>

    <!--Local Stuff-->

    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart_product);


        function drawChart_product() {

        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Home Automation', 10],
          ['Medical Devices', 5],
          ['Farming',  5],
          ['Military', 3],
          ['Food',    3],
          ['Security', 2]
        ]);

        var options = {
         chart: {
            title: 'Products In-house',
            subtitle: 'Production product usage',
          },
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);


      }


  </script>


{% endblock %}